#counter-app {
    
    .counter-btn {
    
        background-color: #000;
        color: #fff;
        outline: none;
        border: 0;
        border-radius: 0;
        padding: 10px 20px;
        cursor: pointer;
    }
    
}
